.user-form-div {
    height: wrap;
    width: 500px;
    margin: 15px;
}

.user-list-div {
    height: wrap;
    width: 500px;
    margin: 15px;
}

#container{
    margin-top: -3%;
}

h2{
    margin-top: -4%;
    height: 130px;
}