<!-- <body>
    <h1>Welcome to Snowball</h1>

    <div class="form-group">
        <label for="usr">Username:</label>
        <input type="text" class="form-control" id="usr">
    </div>

    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd">
    </div>

</body> -->
<app-layout>
    <div class="jumbotron">
      <h1>Angular CLI v6 + Bootstrap & FontAwesome</h1>
      <p>
        In this tutorial you learn how to use Angular CLI v6 with Bootstrap and FontAwesome!
      </p>
    </div>
  </app-layout>